<main>
  <div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item ">
      <%= image_tag('bgimage1.jpeg') %>
        <div class="carousel-caption">
          <h2>Tabijitaku</h2>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('bgimage2.jpeg') %>
        <div class="carousel-caption">
          <h2>自宅で旅をはじめよう</h2>
        </div>

    </div>
    <div class="carousel-item active">
      <%= image_tag('bgimage3.jpeg') %>
        <div class="carousel-caption">
          <h2>日本の世界遺産を学ぶ</h2>
        </div>

    </div>
  </div>
  </div>

  <section class="py-5">
    <div class="container">
      <div class="mb-5 row d-flex justify-content-around align-items-center">
        <div class="col-md-8 order-md-1">
          <%= link_to spots_path do%>
            <h2 class="mb-3 text-dark"><u>一覧を見る</u></h2>
            <h3 class="text-dark">日本の世界遺産（全23ヶ所）を全て確認することができます！</h3>
            <p class="text-info">※ログインすることでその世界遺産に関する写真を投稿できます</p>
          <% end %>
        </div>
        <div class="col-md-4 order-md-2 ">
          <%= image_tag 'image2.jpeg', class: "w-100 mx-auto rounded-circle" %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-5 row d-flex justify-content-around align-items-center">
        <div class="col-md-8 order-lg-2">
          <%= link_to  jmap_spots_path do%>
            <h2 class="mb-3 text-dark"><u>場所を覚える</u></h2>
            <h3 class="text-dark">日本にある世界遺産を地図で全て確認できます！</h3>
          <% end %>
        </div>
        <div class="col-md-4 order-md-1">
          <%= image_tag 'image1.jpeg', class: "w-100 mx-auto rounded-circle" %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-5 row d-flex justify-content-around align-items-center">
        <div class="col-md-8 order-md-1">
          <%= link_to quiz_spots_path do%>
            <h2 class="mb-3 text-dark"><u>クイズで学ぶ</u></h2>
            <h3 class="text-dark">日本の世界遺産に関するクイズを解くことで、さらに詳しくなれます！</h3>
          <% end %>
        </div>
        <div class="col-md-4 order-md-2 ">
          <%= image_tag 'image3.jpeg', class: "w-100 mx-auto rounded-circle" %>
        </div>
      </div>
    </div>
  </section>

</main>
