<div class="container pl-5 pr-5">
  <h3 class="mt-5 mb-5 text-center border-bottom"><%= @spot.name %></h3>
  <div class="mb-5 row d-flex justify-content-left align-items-center">
    <div class="spot-box col-md-5 ">
      <img src="<%= @spot.image %>" class="w-100">
    </div>
    <div class="spot-box col-md-7">
      <h4 class="text-justify text-align-2 text-secondary"><%= @spot.content %></h4>
    </div>
  </div>


  <h2> Google Map</h2>
  <p class="text-warning">localhost でアクセス可能にしてあるためデプロイ時注意。詳細はBMのデプロイ時注意とあるページへ</p>
  <p class="text-warning">APIキーをこのディレクトリ内に記載しているため注意！環境変数必要か？</p>
  <div id="map"></div>
  <div id="iw_wrapper">
    <div id="infowindw">
      <h5><%= @spot.address %></h5>
    </div>
  </div>
</div>

<style>
#map{
  height: 500px;
}
#infowindw {
  width: 100px;
  padding: 4px;
}
#iw_wrapper {
  display: none;
}
</style>

<script>
function initMap(latlng) {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: latlng,
    zoom: 9,
    mapTypeId: "hybrid",
    clickableIcons: false
  });
  var marker = new google.maps.Marker({
    position: latlng,
    map: map,
    animation: google.maps.Animation.BOUNCE,
    icon: {
      url: "https://maps.google.com/mapfiles/ms/micons/red-dot.png",
    },
  });
    var infoWindow = new google.maps.InfoWindow({
      position: latlng,
      content: document.getElementById('infowindw'),
      pixelOffset: new google.maps.Size( 0, -50 )
    });
    infoWindow.open(map);
};

function getLatLng() {
  var geocoder = new google.maps.Geocoder();

  geocoder.geocode({
    address: "<%= @spot.address %>"
  }, function(results, status) {
      for (var i in results) {
        if (results[i].geometry) {
          var latlng = results[i].geometry.location;
          initMap(latlng)
        }
      }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsbAlSkry5YQYYQFHOYpLCtzjvQeqqqUw&callback=getLatLng"
async defer></script>